[submodule "tests/mariadb/docker/mysql"]
	path = tests/mariadb/docker/mysql
	url = https://github.com/google/mysql.git
[submodule "tests/mariadb/docker/tests/mariadb/docker/mysql"]
	path = tests/mariadb/docker/tests/mariadb/docker/mysql
	url = https://github.com/google/mysql.git
